<template>
    <ul v-if="attachments.length > 0">
        <li v-for="attachment in attachments" v-bind:key="attachment.checksum" v-on:click="!disabled ? click_action(attachment) : null" v-bind:class="{ disabled: disabled }">
            {{ attachment.filename }}
        </li>
    </ul>
</template>

<script>
export default {
    name: 'AttachmentList',
    props: ['attachments', 'click_action', 'disabled'],
}
</script>

<style scoped>
ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

li {
    list-style: none;
    padding: 0px 20px;
    background: #1565C0;
    color: white;
    border-radius: 100px;
    font-size: 12px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 10px;
    transition: .2s;
    user-select: none;
}

li:hover:not(.disabled) {
    cursor: pointer;
	background: #2196F3;
}

.disabled {
    background: #ccc;
}

</style>

