<template>
    <div class="btn-group">
        <div @click="toggleMenu()" class="dropdown-toggle" v-if="selectedOption.name !== undefined" v-bind:class="{ showMenu: showMenu }">
          {{ selectedOption.name }}
          <span class="caret">▼</span>
        </div>

        <transition name="fade-fast">
        <ul class="dropdown-menu" v-if="showMenu" >
            <li v-for="option in options" v-bind:key="option.id" v-on:click="updateOption(option)">
                {{ option.name }}
            </li>
        </ul>
        </transition>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                selectedOption: {
                    name: '',
                },
                showMenu: false
            }
        },
        props: {
            options: {
                type: [Array, Object]
            },
            selected: {},
            placeholder: [String]
        },

        mounted() {
            this.selectedOption = this.selected;
            if (this.placeholder)
            {
                this.placeholderText = this.placeholder;
            }
        },

        methods: {
            updateOption(option) {
                this.selectedOption = option;
                this.showMenu = false;
                this.$emit('updateOption', this.selectedOption);
            },

            toggleMenu() {
              this.showMenu = !this.showMenu;
            }
        }
    }
</script>

<style>

.btn-group {
    height: 50px;
    flex: auto;
    position: relative;
}

.dropdown-toggle {
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 20px;
    background: #bbb;
    border-radius: 100px;
    background-color: #fff;
    transition: .2s;
    user-select: none;
    font-size: 12px;
}

.dropdown-toggle:hover {
  color: white;
  background: #E91E63;
  cursor: pointer;
}

.dropdown-menu {
    border-radius: 10px;
    float: left;
    margin-top: 20px;
    width: 100%;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-menu > li {
    padding: 10px 20px;
    user-select: none;
    font-size: 12px;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu > li:hover {
    color: #E91E63;
    cursor: pointer;
}

.caret {
    font-size: 10px;
    transform: scaleX(1.5);
}

li:first-of-type {
    margin-top: 10px;
}

li:last-of-type {
    margin-bottom: 10px;
}

.showMenu {
    background: #E91E63 !important;
    color: white;
}

</style>