<template>
<transition name="fade">
    <div class='wrapper'>
        <form @submit.prevent="handleSubmit">
	    	<h3>Welcome to mail client</h3>
	    	<input type="email" placeholder="e-mail" v-model="user.login" v-bind:class="{error: error}">
        	<input type="password" placeholder="password" v-model="user.password" v-bind:class="{error: error}">
            <input type="name" placeholder="name" v-model="user.name" v-bind:class="{error: error}">
	    	<button type="submit">login</button>
        </form>
    </div>
</transition>
</template>

<script>
import { ipcRenderer } from 'electron'

export default {
  	name: 'LoginScreen',
  	data() {
		return {
			error: false,
		  	user: {
                name: '',
                host: '',
			  	login: '',
			  	password: ''
		  	}
		}
  	},
  	methods: {
		handleSubmit() {
            this.user.host = this.user.login.split('@')[1]
			ipcRenderer.send('LoginScreen', 'authRequest', this.user)
		}
	},
	mounted() {
        ipcRenderer.on('LoginScreen', (event, message, argument) => {
            switch(message) {
                case 'showAuthError':
                    this.error = argument
                    break
            }
        })
    }
}
</script>

<style scoped>

.wrapper {
    width: 100%;
    height: 100%;
}

h3 {
	margin-bottom: 20px;
}

form {
    position: absolute;
	left: calc(50% - 200px);
    top: calc(50% - 125px);
	width: 400px;
    display: flex;
    flex-direction: column;
	padding-bottom: 30px;
	transition: .5s;
}

button, input {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
	text-indent: 15px;
	height: 40px;
    max-height: 40px;
	border: none;
	background: white;
	border-radius: 20px;
	border: 1px solid #ccc;
}

button {
	background: #E91E63;
	color: white;
	transition: .2s;
	border: none;
}

button:hover {
	cursor: pointer;
	background: #F48FB1;
}

button:focus {
	outline: none;
}

input:focus {
    outline: none;
}

.error {
    border: 1px solid #E91E63;
}

div {
    display: flex;
}

#login {
    flex: 2;
}

#host {
    margin-left: 10px;
    flex: 1;
}

</style>

