<template>
<transition name='fade'>
    <div class='wrapper' v-if="message">
        <h3 v-if="message.headers">{{ message.headers.subject }}</h3>
        <h4 v-if="message.headers">{{ message.headers.from }} ({{ message.headers.email }})</h4>
        <AttachmentList v-if="message && message.attachments" class='attachments-list' 
            :attachments="message.attachments" 
            :click_action="downloadFile" 
        />
        <div class='message-body' v-if="message && (message.html || message.text)">
            <div class='html' v-if="is_html && message.html">
                <span v-html="message.html"></span>
            </div>
            <div v-if="!is_html && message.text">
                <span v-html="message.text"></span>
            </div>
        </div>
    </div>
    <CustomSpinner v-if="message === undefined"/>
</transition>
</template>

<script>
import { ipcRenderer } from 'electron'
import CustomSpinner from './CustomSpinner.vue'
import AttachmentList from './AttachmentList.vue'

export default {
    name: 'MessageViewer',
    components: {
        CustomSpinner,
        AttachmentList
    },
    methods: {
        downloadFile: file => ipcRenderer.send('MessageViewer', 'downloadFile', file)
    },
    data() {
        return {
            message: '',
            is_html: false
        }
    },
    mounted() {
        ipcRenderer.on('MessageViewer', (event, message, argument) => {
            switch(message) {
                case 'showSpinner':
                    this.message = undefined
                    break
                case 'showMessage':
                    this.message = argument
                    if(argument && argument.html) {
                        this.is_html = true
                    } else {
                        this.is_html = false
                    }
                    break
            }
        })
    }
}
</script>

<style scoped>
h3 {
    font-size: 16px;
    margin-bottom: 5px;
    padding-right: 200px;
    text-overflow: ellipsis;
}

h4 {
    padding-right: 200px;
    margin-bottom: 20px;
}

.wrapper {
    word-break: break-word;
    overflow-y: scroll;
    height: calc(100vh - 40px);
    margin-top: -30px;
    width: 100%;
    padding: 20px;
    flex: 0 0 calc(100% - 340px);
    flex-shrink: 0;
    background: #fafafa;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

li:hover {
    cursor: pointer;
	background: #F48FB1;
}

.message-body {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #eee;
    display: flex;
    line-height: 1.5;
}

.message-body > .html {
    margin: 0 auto;
}

.attachments-list {
    margin-bottom: 10px;
}

</style>


