<template>
    <li v-on:click="select(message.uid, message.id)" v-bind:class="{ selected: selected }">
        <div class='message-header'>
            <span class='dot' v-if="!message.readed"></span>
            <h3>{{ message.from_name }}</h3>
            <p class='message-date'>{{ message.date }}</p>
        </div>
        <h4>{{ message.from_mail }}</h4>
        <p>{{ message.subject }}</p>
    </li>
</template>

<script>
import { remote, ipcRenderer } from 'electron'

export default {
  name: 'MessageListItem',
  props: ['message', 'selected'],
  methods: {
      select: (uid, id) => {
          ipcRenderer.send('MessageListItem', 'retrieveMessage', uid)
          remote.getCurrentWindow().send('MessageListItem', 'wasSelected', id)
          remote.getCurrentWindow().send('App', 'viewMessageMode')
      }
  }
}
</script>

<style scoped>
li {
    padding: 10px 20px;
    margin-bottom: 5px;
    color: white;
    list-style: none;
    transition: .1s;
}

p {
    color: #555;
}

li:last-of-type {
    margin-bottom: 10px;
}

li:hover {
    cursor: pointer;
    background-color: #fafafa;
}

h3 {
    flex: auto;
    font-weight: bold;
}

h4 {
    margin-bottom: 5px;
}

.message-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.dot {
    height: 5px;
    width: 5px;
    margin-right: 7.5px;
    background-color: #E91E63;
    border-radius: 50%;
}

.selected {
    background-color: #fafafa;
    border-radius: 10px 0 0 10px;
    margin-left: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.message-date {
    text-align: right;
    margin-left: 20px;
}

</style>

