<template>
<transition name="fade">
    <div id='container'>
        <form @submit.prevent="handleSubmit">
            <h3>New message</h3>
	    	<input type="email" placeholder="adress" v-model="message.address" :disabled="disabled">
        	<input type="text" placeholder="subject" v-model="message.subject" :disabled="disabled">
            <textarea name="Text1" cols="40" rows="5" placeholder="type message here" v-model="message.body" :disabled="disabled"></textarea>
            <div class='bottom-stuff'>
                <button id='btn-add-file' :disabled="disabled" type="button" v-on:click="addFile()">add</button>
                <AttachmentList class='attachments-list' 
                    :attachments="message.attachments"
                    :click_action="removeAttachment"
                    :disabled="disabled"
                />
	    	    <button id='btn-submit' :disabled="disabled" type="submit">{{ state ? state : 'send' }}</button>
            </div>
        </form>
    </div>
</transition>
</template>

<script>
import { ipcRenderer } from 'electron'
import AttachmentList from './AttachmentList.vue'

export default {
    name: 'LoginScreen',
    components: {
        AttachmentList
    },
  	data() {
		return {
            state: undefined,
            disabled: false,
		  	message: {
                attachments: [],
			  	address: '',
                subject: '',
                body: ''  
		  	}
		}
  	},
  	methods: {
		handleSubmit() { 
            this.state = 'sending'
            this.disabled = true
            ipcRenderer.send('MessageWriter', 'sendMessage', this.message) 
        },
        addFile: () => ipcRenderer.send('MessageWriter', 'openFileDialog'),
        removeAttachment(attachment) { this.message.attachments = this.message.attachments.filter(a => a.id !== attachment.id) }
    },
    mounted() {
        ipcRenderer.on('MessageWriter', (event, message, argument) => { 
            switch (message) {
                case 'messageSent':
                    this.state = 'sent'
                    this.disabled = true
                    break
                case 'messageError':
                    this.state = argument
                    this.disabled = false
                    break
                case 'setFile':
                    this.message.attachments.push({
                        path: argument,
                        id: this.message.attachments.length,
                        filename: argument.toString().split('\\').pop().split('/').pop()
                    })
                    break
            }
        })
    }
}
</script>

<style scoped>

h3 {
	margin-bottom: 20px;
}

#container {
    flex: 0 0 calc(100% - 300px);
    margin-top: -30px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;
}

form {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 20px;
}

button, input {
	font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
	height: 30px;
	border: none;
	background: white;
	border: 1px solid #ccc;
}

input {
    text-indent: 15px;
    margin-bottom: 20px;
}

button[type='submit'] {
    margin-left: auto;
    width: 200px;
}

button {
    background: #E91E63;
    color: white;
	transition: .2s;
    border: none;
    width: 50px;
    flex: none;
}

button:hover:not(:disabled) {
	cursor: pointer;
	background: #F06292;
}

button[type='submit']:disabled {
    background: #F06292;
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

input:disabled, textarea:disabled {
    color: #ccc;
    background: #fff;
}

button:disabled {
    background: #ccc;
}

textarea {
    flex: auto;
    padding: 15px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc;
    resize: none;
    overflow: hidden;
}

.bottom-stuff {
    display: flex;
    margin-top: 20px;
}

.attachments-list {
    margin: -10px 10px;
}

</style>

