<template>
<transition name="fade">
    <div class="messages-list">
        <div class="control-panel">
            <transition name="fade">
            <dropdown :options="mapNames()" 
              :selected="object" 
              v-on:updateOption="methodToRunOnSelect" 
              :placeholder="'Select an Item'" 
            />
            </transition>
            <button v-on:click="writeMessageMode()" v-bind:class="{ write_message_mode: write_message_mode }">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                    	<g>
                    		<g>
                    			<path d="M352.459,220c0-11.046-8.954-20-20-20h-206c-11.046,0-20,8.954-20,20s8.954,20,20,20h206
                    				C343.505,240,352.459,231.046,352.459,220z"/>
                    			<path d="M126.459,280c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20H251.57c11.046,0,20-8.954,20-20c0-11.046-8.954-20-20-20
                    				H126.459z"/>
                    			<path d="M173.459,472H106.57c-22.056,0-40-17.944-40-40V80c0-22.056,17.944-40,40-40h245.889c22.056,0,40,17.944,40,40v123
                    				c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20V80c0-44.112-35.888-80-80-80H106.57c-44.112,0-80,35.888-80,80v352
                    				c0,44.112,35.888,80,80,80h66.889c11.046,0,20-8.954,20-20C193.459,480.954,184.505,472,173.459,472z"/>
                                <path d="M467.884,289.572c-23.394-23.394-61.458-23.395-84.837-0.016l-109.803,109.56c-2.332,2.327-4.052,5.193-5.01,8.345
                    				l-23.913,78.725c-2.12,6.98-0.273,14.559,4.821,19.78c3.816,3.911,9,6.034,14.317,6.034c1.779,0,3.575-0.238,5.338-0.727
                    				l80.725-22.361c3.322-0.92,6.35-2.683,8.79-5.119l109.573-109.367C491.279,351.032,491.279,312.968,467.884,289.572z
                    				 M333.776,451.768l-40.612,11.25l11.885-39.129l74.089-73.925l28.29,28.29L333.776,451.768z M439.615,346.13l-3.875,3.867
                    				l-28.285-28.285l3.862-3.854c7.798-7.798,20.486-7.798,28.284,0C447.399,325.656,447.399,338.344,439.615,346.13z"/>
                                <path d="M332.459,120h-206c-11.046,0-20,8.954-20,20s8.954,20,20,20h206c11.046,0,20-8.954,20-20S343.505,120,332.459,120z"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
        <p v-if="empty_box">This box is empty</p>
        <ul>
            <transition-group name="fade">
                <MessageListItem v-for="message_item in messages" 
                    :message="message_item" 
                    :key="message_item.id" 
                    :selected="message_item.id == selected_item" 
                    v-model="selected_item"
                />
            </transition-group>
        </ul>
    </div>
</transition>
</template>

<script>
import MessageListItem from './MessageListItem.vue'
import Dropdown from './Dropdown.vue'
import { remote, ipcRenderer } from 'electron'

export default {
    name: 'MessagesList',
    components: {
        MessageListItem,
        Dropdown
    },
    data: () => {
        return {
            empty_box: false,
            messages: [],
            selected_item: 1,
            write_message_mode: false,
            messageBoxes: [],
            object: {
                name: 'Входящие',
            }
        }
    },
    methods: {
        methodToRunOnSelect(payload) {
            ipcRenderer.send('MessagesList', 'selectBox', this.messageBoxes.filter(box => box.name === payload.name)[0].path)
        },
        writeMessageMode() {
            this.write_message_mode = true
            this.selected_item = undefined
            remote.getCurrentWindow().send('App', 'writeMessageMode')
        },
        mapNames() {
            let id = 0
            return this.messageBoxes.map(box => ({name: box.name, id: id++}))
        }
    },
    mounted() {
        ipcRenderer.on('MessageListItem', (event, message, argument) => {
            switch(message) {
                case 'wasSelected':
                    this.selected_item = argument
                    this.write_message_mode = false
                    break
            }
        })


        ipcRenderer.on('MessagesList', (event, message, argument) => {
            switch (message) {
                case 'showBoxes':
                    this.messageBoxes = argument
                    break
                case 'showMessages':
                    this.messages = argument
                    this.empty_box = false
                    break
                case 'clearMessages':
                    this.messages = []
                    break
                case 'showEmptyBox':
                    this.empty_box = true
                    break
            }
        })
    }
}
</script>

<style scoped>

.control-panel {
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

button {
    width: 18px;
    height: 18px;
    border: none;
    background: none;
    margin-left: 20px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

svg {
    transition: .2s;
}

button:hover svg {
    fill: #E91E63;
}

p {
    margin: 30px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}

.messages-list {
    margin-top: -30px;
    width: 300px;
    min-width: 300px;
    background-color: #eaeaea;
    overflow-y: scroll;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset;
}

.messages-list::-webkit-scrollbar {
    display: none;
}

.write_message_mode {
    fill: #E91E63;
}

</style>

