<template>
    <transition name="fade-fast">
        <div v-on:click="clickHandler">
            <h2>box stats</h2>
            <p>total: {{ stats.total }}</p>
            <p>new: {{ stats.new }}</p>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'MessageListItem',
    props: ['stats', 'clickHandler']
}
</script>


<style scoped>

h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

div {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 50px;
    right: 240px;
    border-radius: 10px;
    padding: 20px;
    background: white;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
}
</style>
