<template>
    <div class="top-bar">
        <button disabled></button>
        <button id='left-button' v-on:click="show_settings = !show_settings" v-bind:class="{ show_settings: show_settings}">
            <svg viewBox="0 0 1 1"> 
                <use xlink:href="../assets/icons.svg#hamburger-menu" />
            </svg>
        </button>
        <transition name="fade-fast">
        <ul class="dd-menu" v-if="show_settings">
            <li v-on:click="stats()">stats</li>
            <li v-on:click="logout()">logout</li>
        </ul>
        </transition>
        <button v-on:click="minimize()">
            <svg viewBox="0 0 1 1"> 
                <use xlink:href="../assets/icons.svg#minimize-window" />
            </svg>
        </button>
        <button v-on:click="maximize()">
            <svg viewBox="0 0 1 1"> 
                <use xlink:href="../assets/icons.svg#restore-window" />
            </svg>
        </button>
        <button id='close-button' v-on:click="close()">
            <svg viewBox="0 0 1 1"> 
                <use xlink:href="../assets/icons.svg#close-window" />
            </svg>
        </button>
    </div>
</template>

<script>

import { remote, ipcRenderer } from 'electron'

export default {
    name: 'TopBar',
    methods: {
        minimize() {
            remote.getCurrentWindow().minimize()
        },
        maximize() {
            if(!remote.getCurrentWindow().isMaximized()) {
                remote.getCurrentWindow().maximize()
            } else {
                remote.getCurrentWindow().unmaximize()
            }
        },
        close() {
            remote.getCurrentWindow().close()
        },
        stats() {
            ipcRenderer.send('TopBar', 'stats')
        },
        logout() {
            ipcRenderer.send('TopBar', 'logout')
            this.show_settings = false
        }
    },
    props: {
        options: [{id: 1, name: 'One'}, {id: 2, name: 'Two'}]
    },
    data() {
        return {
            show_settings: false
        }
    },
}
</script>


<style scoped>

.top-bar {
    background-color: #fafafa;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

svg {
    width: 46px;
    height: 10px;
    color: #111;
    shape-rendering: crispEdges;
}

button {
    height: 30px;
    width: 46px;
    -webkit-app-region: no-drag;
    border: none;
    background-color: transparent;
    transition: .2s;
    opacity: .99;
    z-index: 1000;
    background: #fafafa;
}

button:focus {
    outline: none;
}

button:hover:not(:disabled) {
    background-color: #ccc;
    cursor: pointer;
}

#close-button:hover svg {
    color: #eee;
}

#close-button:hover {
    background-color: #D71526;
}

#left-button {
    border-radius: 0 0 0 7.5px;
}

.dd-menu {
    position: absolute;
    top: 50px;
    right: 138px;
    border-radius: 10px;    
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
}

.dd-menu > li {
    padding: 10px 20px;
    user-select: none;
    font-size: 12px;
    color: #333333;
    white-space: nowrap;
}

.dd-menu > li:hover {
    cursor: pointer;
    color: #E91E63;
}

.show_settings {
    background: #ccc;
}

</style>

