<template>
  <div id="app">
    <TopBar />
    <div class="content">
        <MessagesList v-if="mode === 'VIEW_MESSAGE' || mode === 'WRITE_MESSAGE'" />
        <MessageViewer v-if="mode === 'VIEW_MESSAGE'" />
        <MessageWriter v-if="mode === 'WRITE_MESSAGE'" />
        <LoginScreen v-if="mode === 'LOGIN'"/>
        <ModalWindow v-if="showModal" 
            :stats='stats' 
            :clickHandler='() => {showModal = false}'
        />
    </div>
  </div>
</template>

<script>
import MessagesList from './components/MessagesList.vue'
import MessageViewer from './components/MessageViewer.vue'
import TopBar from './components/TopBar.vue'
import LoginScreen from './components/LoginScreen.vue'
import MessageWriter from './components/MessageWriter.vue'
import ModalWindow from './components/ModalWindow.vue'
import { ipcRenderer } from 'electron'

export default {
    name: 'app',
    components: {
        TopBar,
        MessagesList,
        MessageViewer,
        LoginScreen,
        MessageWriter,
        ModalWindow
	},
	data: () => {
		return {
            showModal: false,
            stats: undefined,
            mode: ''
		}
	},
	mounted() {
        ipcRenderer.on('App', (event, message, argument) => {
            switch(message) {
                case 'loginMode':
                    this.mode = 'LOGIN'
                    break
                case 'writeMessageMode':
                    this.mode = 'WRITE_MESSAGE'
                    break
                case 'viewMessageMode':
                    this.mode = 'VIEW_MESSAGE'
                    break
                case 'showStats':
                    this.stats = argument
                    this.showModal = true
            }
		})
    }
}
</script>

<style>

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Medium.ttf");
    font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

#app {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  height: 100%;
}

span, p {
    font-size: 12px;
    color: #111;
}

span, p, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

h3 {
    font-weight: bold;
    user-select: none;
    color: #111;
}

h4 {
    font-weight: 400;
    user-select: none;
    color: #555;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity .1s;
}

.fade-fast-enter, .fade-fast-leave-to {
  opacity: 0;
}

</style>
